.classroom-box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.classroom-box-left {
  width: 100%;
  height: 100%;
  position: relative;
}

.classroom-box-right {
  width: 360px;
  height: 100%;
  flex-shrink: 0;
}

.classroom-box-teacher-video {
  width: 100%;
  height: 200px;
  background-color: green;
}

.classroom-box-students-video {
  width: 360px;
  height: 120px;
  background-color: #497372;
  display: flex;
  flex-direction: row;
}

.classroom-box-student-cell {
  width: 120px;
  height: 120px;
}
.classroom-box-chart {
  width: 100%;
  height: calc(~'100vh - 320px');;
}
.classroom-box-video {
  width: 100%;
  height: 320px;
  background-color: blue;
  flex-shrink: 0;
}
